#results {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.results {
    padding: 8px;
    cursor: pointer;
}

.results:hover {
    background-color: #f0f0f0;
}
